@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300&family=Genos:ital,wght@1,100&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1700px;
    padding: 0 60px;
    margin: auto;
}

html{
    scroll-behavior: smooth;
}


/*-------------------------------- Scrollbar Style -------------------------------- */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 11px rgb(64, 115, 255);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(30, 44, 238);
    border-radius: 8px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 109, 212);
}


/*-------------------------------- Navigation Style -------------------------------- */

.navbar{
    position: fixed;
    width: 100%;
    padding: 35px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.6s ease;
}

.navbar.sticky{
    padding: 25px 0;
    background: rgb(199, 197, 216);
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{ 
    color: rgb(71, 71, 75);
    font-size: 35px;
    font-weight: 600;
}


.navbar .logo a span{ 
    color: slateblue;
    transition: all 0.6s ease-in-out;
}

.navbar.sticky .logo a span{
    color: slateblue; 
}

.navbar.sticky .logo a span:hover{
    color: wheat;
    transition: color 0.5s ease;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{ 
    color: slateblue;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    transition: color 0.5s ease;
}

.navbar .menu li a:hover{ 
    color: black;
}


.navbar.sticky .menu li a{
    color: slateblue
}

.navbar.sticky .menu li a:hover{
    transition: color 0.5s ease;
    color: black;
}


/*-------------------------------- Menu Button -------------------------------- */

.menu-btn{
    color: black;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.menu-btn:hover{
    color: slateblue;
    transition: all 0.4s ease;
}

.navbar.sticky .menu-btn{
    color: black;
}

.navbar.sticky .menu-btn:hover{
    color: slateblue;
    transition: all 0.5s ease;
}

x
/*-------------------------------- All "sections" and font styles -------------------------------- */

.about, .prevent, .precautions, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

section{
    padding: 100px 0;
}

section .title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}
  


/*-------------------------------- Home Section -------------------------------- */

.home{
    display: flex;
    height: 100vh;
    color: black;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    color: black;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}



.home .home-content a{
    display: inline-block;
    background: slateblue;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid black;
    transition: all 0.5s ease;
}

.home .home-content a:hover{
    color: slateblue;
    background: white;
}


/*-------------------------------- About Section -------------------------------- */


.about .about-content, .skill .skill-content, .contact .contact-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .left{
    width: 50%;
}

.about .about-content .left img{
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.about .about-content .right{
    width: 100%;
}

.about .about-content .right .text{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}

.about .about-content .right .text span{
    color: rgba(51, 139, 85, 0.993);
}

.about .about-content .right p{
    color: rgb(59, 59, 59);
    font-weight: 450;
    font-size: 19.8px;
    text-align: justify;
    padding-bottom: 20px;
}


.about .about-content .right i:hover{
    color: black;
    transition: all 0.5s ease;
}


.about .about-content .column{
    width: 50%;
}




/*-------------------------------- Symptoms Section -------------------------------- */

.symptoms .title::after{
    content: "Symptoms";
    color: blue;
}

.symptoms .slide .card3{
    padding: 25px 35px;
    text-align: center;
}

.symptoms .slide .card3:hover{
    transition: all 0.5s ease;
}

.symptoms .slide .card3 .box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.symptoms .slide .card3:hover .box3{
    transform: scale(1.03);
}


.symptoms .slide .card3 .text{
    color: black;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


.symptoms .slide .card3 img{
    height: 380px;
    width: 340px;
    object-fit: cover;
    border-radius: 8%;
    border: 6px solid slateblue;
}

.symptoms .slide .card3:hover img{
    border: solid 6px rgb(177, 175, 175);
    transition: all 0.5s ease;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 15px;
    width: 15px;
    margin: 0 10px;
    outline: none !important;
    border-radius: 20%;
    border: 2px solid black !important
}

.owl-dot.active{
    width: 20px;
    border-radius: 2px
}

.owl-dot.active, .owl-dot:hover{
    background: slateblue !important;
    transition: all 0.6s ease;
}







/*precautions.html*/ 
/*------------------------------------*/

.precautions h1{
    color: blue;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.precautions span{
    color: red;
    text-align: center;
}

.precautions .column{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.precautions .column .box-container{
    margin:1.5rem;
    flex:1 1 50rem;
    border:.2rem solid black;
    box-shadow: 0 .5rem 2rem greenyellow;
    border-radius: .5rem;
}

.precautions .column .box-container .title{
    padding:25px;
    text-align: center;
    font-size: 35px;
    background:blue;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 120px;
}

.precautions .column .box-container:last-child .title{
    background:#ff3300;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.precautions .column .box-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.precautions .column .box-container .box img{
    width:15rem;
    padding:30px;
    object-fit: cover;
}

.precautions .column .box-container .box h3{
    font-size: 30px;
    color: rgb(233, 113, 113);
    padding-bottom: 20px;

}

.precautions .column .box-container .box p{
    font-size: 20px;
    text-align: justify;
}


/*-------------------------------- Prevent Section -------------------------------- */

.prevent .title span{
    color: rgb(238, 48, 95);
}

.prevent .box2 img{
    margin-bottom: 10px;
    height: 70px;
}

.prevent .prevent-content .card2 .text{
    color: red;
    text-decoration: underline;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    padding-bottom: 25px;
}

.prevent .prevent-content .box2 p{
    font-size: 24px;
    color: black;
    text-align: center;
}

.prevent .prevent-content .box2:hover p{
    color:black;
    transition: color 0.5s ease;
}

.prevent .prevent-content .card2{
    width: 60%;
    text-align: center;
    padding: 30px 45px;
    cursor: pointer;
    border-radius: 10px;
    border-style: solid;
    margin: auto;
    margin-bottom: 20px;

}

.prevent .prevent-content .card2 .box2{
    transition: all 0.5s ease;
    padding-bottom: 60px;
}

.prevent .prevent-content .card2:hover .box2{
    transform: scale(1.05);
}



/*contact.html*/
/*------------------------------------*/

.container h1{      /* Please use this form to get in touch with us.  */
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
}


.form-control {     /* All the TextBox */
    height: 40px;
    width: 900px;
    box-shadow: 0 2px 4px red;
}


/*-------------------------------- Footer Section -------------------------------- */
footer{
    background: rgb(24, 112, 228);
    padding: 21px 35px;
    color: white;
    font-size: 10px;
}



/*-------------------------------- Lottie - Animation -------------------------------- */

.animation-loading{
   position: fixed;
   bottom: 0px;
   right: 0px;
}



/*-------------------------------- Responsive Media Query -------------------------------- */


@media (max-width: 1400px){
    .home .max-width{
        margin-left: 0px;
    }

    .navbar .logo a{
        font-size: 32px;
    }

    .navbar .menu li a{
        font-size: 17px;        
    }
}

@media (max-width: 1150px){
    .about .about-content .left img{
        height: 330px;
        width: 430px;
    }

    .navbar .logo a{
        font-size: 28px;
    }

    .navbar .menu li a{
        font-size: 16px;        
    }
}

@media (max-width: 980px){
    .max-width{
        padding: 0 60px;
    }
}

@media (max-width: 921px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 100px;
        transition: all 0.6s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2{
        color: black;
        font-size: 60px;
    }
    

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 1200px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }
}